.Photos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Verdana';
}

.photo {
    position: relative;
    width: 270px;
    height: 140px;
    margin: 47px;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
}

.photo-img {
    position: absolute;
    height: 182px;
    left: 0;
    bottom: 0;
    margin-left: 10px;
}

.psevdo-name {
    margin: 0;
    padding-bottom: 10px;
    color: #fff;
    font-size: 12px;
}

.name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
}

.photo.captain {
    background-image: linear-gradient(#4568DC, #B06AB3);
}

.photo.iron {
    background-image: linear-gradient(#e52d27, #b31217);
}

.photo.widow {
    background-image: linear-gradient(#000, #61045F);
}

.photo.spider {
    background-image: linear-gradient(#e52d27, #000);
}

.photo.spider .photo-img {
    top: 0;
}
